NODE_ENV=development
PORT=3001
API_PREFIX=api/v1
FRONTEND_URL=http://localhost:3000

DB_HOST=localhost
DB_PORT=5400
DB_USERNAME=admin
DB_PASSWORD=change_me
DB_DATABASE=toeic_path_ai_db
DB_SSL=false
DB_LOGGING=false

CORS_ORIGINS=http://localhost:3000,http://localhost:3001
